.main-form{
    height: 100vh;
}

.main-form .container-form{
    box-shadow:
    2.8px 2.2px 57.9px -20px rgba(0, 0, 0, 0.004),
    7.2px 5.6px 129.4px -20px rgba(0, 0, 0, 0.009),
    15.5px 12.2px 258.7px -20px rgba(0, 0, 0, 0.022),
    28px 22px 500px -20px rgba(0, 0, 0, 0.08)
  ;
  border-radius: 6px;
}


.main-form .form button {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    border: transparent;
    margin-top: 20px;
}

.main-form .img-container img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 5px;
}

.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid;
    border-color: rgb(139 92 246) rgb(139 92 246) transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent rgb(79 70 229) rgb(79 70 229);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  .loader::before {
    width: 32px;
    height: 32px;
    border-color: rgb(167 139 250) rgb(167 139 250) transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
      