.main-form{
    height: 100vh;
}

.main-form .container-form{
    box-shadow:
    2.8px 2.2px 57.9px -20px rgba(0, 0, 0, 0.014),
    7.2px 5.6px 129.4px -20px rgba(0, 0, 0, 0.019),
    15.5px 12.2px 258.7px -20px rgba(0, 0, 0, 0.122),
    28px 22px 500px -20px rgba(0, 0, 0, 0.18)
  ;
  border-radius: 6px;
}

